$color-principal: black;
$color-base: #3d3c3c;
$color-light: white;

$color-complementario: #FAF401;
$color-complementario2: #52317A;

$color-complementario3: #3E0C7A;
$color-complementario4: #19FAD6;

$color-complementario5: #A14271;
$color-complementario6: #ED91BF;

/* MAP */
$colores: (
    color1: white,
    color2: black,
    color3: #808080
);
/* MAP */

$fuente: 'Roboto', sans-serif;

$borde-redondo: 1.5rem;

$container: 10px;

