@charset "UTF-8";
/* MAP */
/* MAP */
/*-------------------------------------------- AREA RESET #GLOBAL# --------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

/*-------------------------------------------- AREA HEADER #GLOBAL# --------------------------------------------*/
#menu {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  overflow: hidden;
  top: 0;
  background: black;
}

#menu .menuNav {
  width: 100%;
  max-width: 1500px;
  margin: auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#menu .menuNav nav {
  float: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menu .menuNav nav a {
  display: inline-block;
  color: white;
  text-decoration: none;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 15px;
  line-height: normal;
  font-size: 40px;
  font-weight: bold;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  border-radius: 80px;
}

#menu .menuNav nav a img {
  width: 100px;
  height: auto;
}

#menu .menuNav nav a:hover {
  background: white;
  color: black;
}

/* APLIQUÉ EXTEND */
.img__full, .img__full--dark--h:hover {
  width: 100%;
  height: auto;
}

.img__full--dark--h:hover {
  background-color: black;
}

/* FIN AREA EXTEND */
/* APLIQUÉ MIXIN */
.colorear--color1 {
  background: black;
  color: white;
}

/* FIN AREA MIXIN */
/* KEYFRAMES */
@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

.puff-in-center {
  -webkit-animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
          animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

@-webkit-keyframes roll-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) rotate(-720deg);
            transform: translateX(-1000px) rotate(-720deg);
    -webkit-filter: blur(50px);
            filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

@keyframes roll-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) rotate(-720deg);
            transform: translateX(-1000px) rotate(-720deg);
    -webkit-filter: blur(50px);
            filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

.roll-in-blurred-left {
  -webkit-animation: roll-in-blurred-left 0.65s cubic-bezier(0.23, 1, 0.32, 1) both;
          animation: roll-in-blurred-left 0.65s cubic-bezier(0.23, 1, 0.32, 1) both;
}

@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

.bounce-in-top {
  -webkit-animation: bounce-in-top 1.1s .6s both;
          animation: bounce-in-top 1.1s .6s both;
}

@-webkit-keyframes bounce-in-bck {
  0% {
    -webkit-transform: scale(7);
            transform: scale(7);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: scale(1.24);
            transform: scale(1.24);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  89% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: scale(1.04);
            transform: scale(1.04);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-bck {
  0% {
    -webkit-transform: scale(7);
            transform: scale(7);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: scale(1.24);
            transform: scale(1.24);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  89% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: scale(1.04);
            transform: scale(1.04);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

.bounce-in-bck {
  -webkit-animation: bounce-in-bck 1.1s both;
          animation: bounce-in-bck 1.1s both;
}

@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

.bounce-in-top {
  -webkit-animation: bounce-in-top 1.1s .6s both;
          animation: bounce-in-top 1.1s .6s both;
}

@-webkit-keyframes bounce-in-left {
  0% {
    -webkit-transform: translateX(-600px);
            transform: translateX(-600px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(-68px);
            transform: translateX(-68px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(-28px);
            transform: translateX(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-left {
  0% {
    -webkit-transform: translateX(-600px);
            transform: translateX(-600px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(-68px);
            transform: translateX(-68px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(-28px);
            transform: translateX(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

.bounce-in-left {
  -webkit-animation: bounce-in-left 1.1s 1s both;
          animation: bounce-in-left 1.1s 1s both;
}

@-webkit-keyframes bounce-in-right {
  0% {
    -webkit-transform: translateX(600px);
            transform: translateX(600px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(68px);
            transform: translateX(68px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(32px);
            transform: translateX(32px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-right {
  0% {
    -webkit-transform: translateX(600px);
            transform: translateX(600px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(68px);
            transform: translateX(68px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(32px);
            transform: translateX(32px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

.bounce-in-right {
  -webkit-animation: bounce-in-right 1.1s 1.4s both;
          animation: bounce-in-right 1.1s 1.4s both;
}

/*-------------------------------------------- SECCION : INDEX.HTML --------------------------------------------*/
.card-container {
  font-family: "Roboto", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: default;
  background-color: black;
}

.card {
  width: 100%;
  max-width: 320px;
  border: 1px solid;
  border-color: black;
  border-bottom-left-radius: 1.5rem;
  background: #f1f0f0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  overflow: hidden;
}

.card:hover {
  -webkit-box-shadow: 0px 0px 9px 1px white;
          box-shadow: 0px 0px 9px 1px white;
}

.card .card__img img {
  width: 320px;
  height: 20rem;
}

.card .card__titulo {
  font-size: 1.1rem;
  font-style: normal;
  text-align: center;
  color: black;
}

.card .card__texto {
  color: #3d3c3c;
  text-align: center;
}

.card .card__btn a {
  text-decoration: none;
  margin-top: 10px;
  background-color: black;
  padding: 10px 20px;
  border-radius: 1.5rem;
  display: inline-block;
  color: white;
}

.card .card__btn a:hover {
  background-color: #3d3c3c;
}

.item-1 {
  background-color: black;
  padding: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-1 .videos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  justify-content: space-evenly;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.item-1 .videos .video-1 iframe {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.item-1 .videos .video-1 iframe:hover {
  -webkit-box-shadow: 0px 0px 9px 1px black;
          box-shadow: 0px 0px 9px 1px black;
  margin-top: -10px;
}

.item-1 .videos .video-2 iframe {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.item-1 .videos .video-2 iframe:hover {
  -webkit-box-shadow: 0px 0px 9px 1px black;
          box-shadow: 0px 0px 9px 1px black;
  margin-top: -10px;
}

.item-2 {
  cursor: default;
  background-color: black;
  color: white;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: 1px solid black;
}

.item-2 .noticias {
  border: 2px solid #607d8b;
  background: white;
}

.item-2 .noticias .titulo-noticias {
  color: black;
  display: inline-block;
  border: 2px solid #607d8b;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  background-color: white;
}

.item-2 .noticias .container {
  background-color: white;
  color: black;
  padding: 10px;
  margin: auto;
}

.item-2 .noticias .container p {
  text-align: start;
}

.item-2 .noticias .container .contenido-noticias {
  border: 1px solid #3d3c3c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  cursor: default;
}

.item-2 .noticias .container .contenido-noticias:hover {
  -webkit-box-shadow: 0px 0px 9px 1px #bdbdbd;
          box-shadow: 0px 0px 9px 1px #bdbdbd;
  background-color: #e0e0e0;
}

.item-2 .noticias .container .contenido-noticias p {
  width: 90%;
}

.item-2 .noticias .container .contenido-noticias img {
  width: 10%;
}

/* FIN DE LA SECCION : INDEX.HTML */
/* SECCION -- PAGES/JUGADORES.HTML */
.paginas-web {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  text-align: center;
  padding: 40px;
}

.paginas-web:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.paginas-web li a img {
  display: inline-block;
}

.paginas-web li a img:hover {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  -webkit-box-shadow: 0px 0px 19px 10px black;
          box-shadow: 0px 0px 19px 10px black;
}

.paginas-web li a h2 {
  text-align: center;
  color: white;
}

.visitanos {
  text-align: center;
  color: white;
  padding: 2rem;
}

.articulo1:nth-child(1) .card:hover {
  background-color: #f1f0f065;
  border-color: #a74bad;
}

.articulo1:nth-child(2) .card:hover {
  background-color: #f1f0f065;
  border-color: #a74bad;
}

.articulo1:nth-child(3) .card:hover {
  background-color: #f1f0f065;
  border-color: #a74bad;
}

.articulo1:nth-child(4) .card:hover {
  background-color: #f1f0f065;
  border-color: #a74bad;
}

.articulo1:nth-child(5) .card:hover {
  background-color: #f1f0f065;
  border-color: #a74bad;
}

.container--jugadores {
  background-image: url(../img/paisaje.jpg);
  background-size: cover;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.container--jugadores .galeria-jugadores {
  display: -ms-grid;
  display: grid;
  height: auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  gap: 1rem;
  justify-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container--jugadores .titulo--jugadores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.articulo1 img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.articulo1 img:hover {
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.container--jugadores {
  background-image: url(../img/paisaje.jpg);
  background-size: cover;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.container--jugadores .galeria-jugadores {
  display: -ms-grid;
  display: grid;
  height: auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  gap: 1rem;
  justify-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container--jugadores .galeria-jugadores .articulo1 {
  width: 25%;
  height: auto;
}

.container--jugadores .galeria-jugadores .card__img {
  width: auto;
  height: auto;
}

.container--jugadores .galeria-jugadores .card__img img {
  width: 330px;
  height: 330px;
}

.container--jugadores .titulo--jugadores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

/* FIN DE LA SECCION -- PAGES/JUGADORES.HTML */
/* SECCION : PAGES/NOSOTROS.HTML */
.container-nosotros {
  background-color: black;
  color: white;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.container-nosotros .que-somos {
  border: 1px solid #3d3c3c;
}

.container-nosotros .historia {
  border: 1px solid #3d3c3c;
}

/* FIN DE LA SECCION : PAGES/NOSOTROS.HTML */
/* SECCION : PAGES/RECLUTACION.HTML */
*,
*::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #455a64;
  line-height: 1.5;
}

.contenedor {
  max-width: 1170px;
  margin: 0 auto 1rem;
  padding: 1.5rem;
}

.wrapper {
  -webkit-box-shadow: 0 0 20px 0 rgba(69, 90, 100, 0.7);
          box-shadow: 0 0 20px 0 rgba(69, 90, 100, 0.7);
  border-radius: 5px;
}

@media screen and (min-width: 700px) {
  .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
  }
}

.servicios {
  list-style: none;
  text-align: center;
}

@media screen and (min-width: 700px) {
  .servicios {
    text-align: left;
  }
}

.logo {
  text-align: center;
  margin-bottom: 1rem;
}

.info-empresa {
  padding: 1rem;
  background-color: #ccd7dc;
}

.info-empresa h3 {
  text-align: center;
}

@media screen and (min-width: 700px) {
  .info-empresa h3 {
    text-align: left;
    margin-bottom: 0.5rem;
  }
}

.nombre-empresa {
  color: #263137;
}

.contacto {
  padding: 1rem;
  background-color: #eaeff1;
}

.contacto h3 {
  margin-bottom: 1rem;
}

.formulario {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 1.25rem;
}

.formulario label {
  display: block;
}

.formulario button,
.formulario input,
.formulario textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccd7dc;
}

.formulario textarea {
  resize: none;
}

.full {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.boton-enviar {
  background-color: #ccd7dc;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.boton-enviar:focus, .boton-enviar:hover {
  background-color: #455a64;
  color: #fff;
  outline: 0;
  -webkit-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* FIN DE LA SECCION : PAGES/RECLUTACION.HTML */
/* SECCION : PAGES/AYUDA.HTML */
.container-ayuda {
  text-align: center;
}

.container-ayuda .ayuda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-ayuda .ayuda h1 {
  size: 5rem;
  text-align: center;
}

.container-ayuda input {
  width: auto;
}

.buscador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.buscador .areaTexto {
  text-align: center;
  overflow: hidden;
  border-radius: 5rem;
}

.buscador .areaTexto textarea {
  border: #cccccc solid 2.5px;
  width: 50%;
  height: 32px;
  text-align: center;
  font-size: 16px;
}

.buscador input {
  width: 50px;
}

.container-ayuda {
  height: 100vh;
}

/* FIN DE LA SECCION : PAGES/AYUDA.HTML */
/*-------------------------------------------- AREA FOOTER #GLOBAL# --------------------------------------------*/
.footer-container {
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(#b3b3b3), to(#8e8e8e));
  background: linear-gradient(to right, #ffffff, #b3b3b3, #8e8e8e);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-container .patrocinadores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.footer-container .patrocinadores ul li:hover {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background: #fff6f6;
}

/*-------------------------------------------- FIN FOOTER GLOBAL --------------------------------------------*/
/*-------------------------------------------- AREA QUERIES --------------------------------------------*/
/* SECCION : INDEX.HTML */
@media (min-width: 300px) and (max-width: 767px) {
  .card-container {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card-container .card {
    width: 100%;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .card-container .card img {
    width: 100%;
  }
  #menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  #menu .menuNav {
    width: 100%;
  }
  #menu .menuNav nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #menu .menuNav nav a {
    font-size: 1rem;
  }
  .container .contenido-noticias img {
    display: none;
  }
  .item-1 {
    display: none;
  }
}

@media (min-width: 680px) and (max-width: 1024px) {
  #menu {
    background: black;
    color: white;
  }
  #menu .menuNav nav {
    width: auto;
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #menu .menuNav nav a {
    color: white;
    font-size: 24px;
  }
  .card-container {
    background: black;
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card-container .card {
    width: 100%;
    height: auto;
  }
  .card-container .card .card-container .card__img img {
    width: 100%;
    max-height: auto;
  }
  .card-container .card .card-container .card__titulo {
    font-size: 0.7rem;
    width: 200px;
  }
  .card-container .card .card-container .card__texto {
    font-size: 0.5rem;
    width: 200px;
    color: white;
  }
  .card-container .card .card-container .card__btn {
    width: 200px;
  }
}

@media (min-width: 768px) and (max-width: 900px) {
  #menu {
    background: black;
    color: white;
  }
  body {
    background: black;
  }
}

.item-2 {
  background: black;
  color: white;
}

@media (min-width: 920px) and (max-width: 1024px) {
  .card-container {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .card-container .card {
    max-width: 400px;
    height: auto;
  }
  .card-container .card img {
    width: 100%;
  }
  .card-container .card__titulo {
    font-size: 24px;
    width: 100%;
    text-align: center;
  }
  .card-container .card__texto {
    width: 100%;
  }
  .card-container .card__btn {
    width: auto;
  }
}

/* FIN DE LA SECCION : INDEX.HTML */
/* SECCION : PAGES/NOSOTROS.HTML */
@media (min-width: 300px) and (max-width: 779px) {
  .container-nosotros {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .container-nosotros .que-somos {
    background-color: #1b1b1b;
    border-top-right-radius: 1.1rem;
    border-bottom-left-radius: 1.1rem;
    width: 100%;
    height: auto;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container-nosotros .que-somos img {
    width: 60%;
    height: auto;
  }
  .container-nosotros .historia {
    background-color: #1b1b1b;
    width: 100%;
    height: auto;
    text-align: center;
    border-top-right-radius: 1.1rem;
    border-bottom-left-radius: 1.1rem;
  }
}

@media screen and (min-width: 780px) {
  .container-nosotros {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .container-nosotros .que-somos {
    background-color: #1b1b1b;
    border: 1px #cecece solid;
    border-top-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    width: 100%;
    height: auto;
    text-align: center;
  }
  .container-nosotros .que-somos img {
    width: 75%;
    height: auto;
  }
  .container-nosotros .historia {
    background-color: #1b1b1b;
    border: 1px #cecece solid;
    width: 100%;
    height: auto;
    text-align: center;
    border-top-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
  }
}

/* FIN DE LA SECCION : PAGES/NOSOTROS.HTML */
/* SECCION : JUGADORES.HTML/CARP.JUGADORES */
@media screen and (min-width: 300px) {
  .container--jugadores {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container--jugadores .titulo--jugadores {
    text-align: center;
    width: 75%;
    height: auto;
  }
  .container--jugadores .galeria-jugadores {
    width: 90%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container--jugadores .galeria-jugadores .articulo1 {
    width: 100%;
    height: auto;
  }
  .container--jugadores .galeria-jugadores .articulo1 img {
    width: 100%;
    height: auto;
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
}

@media screen and (min-width: 729px) {
  .container--jugadores {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container--jugadores .titulo--jugadores {
    text-align: center;
    width: 75%;
    height: auto;
  }
  .container--jugadores .galeria-jugadores {
    width: 90%;
    height: auto;
    padding-bottom: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .container--jugadores .galeria-jugadores .articulo1 {
    width: 40%;
    height: auto;
  }
  .container--jugadores .galeria-jugadores .articulo1 img {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 1020px) {
  .container--jugadores {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container--jugadores .titulo--jugadores {
    text-align: center;
    width: 75%;
    height: auto;
  }
  .container--jugadores .galeria-jugadores {
    width: 90%;
    height: auto;
    padding-bottom: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .container--jugadores .galeria-jugadores .articulo1 {
    width: 30%;
    height: auto;
  }
  .container--jugadores .galeria-jugadores .articulo1 img {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 1300px) {
  .container--jugadores {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container--jugadores .titulo--jugadores {
    text-align: center;
    width: 75%;
    height: auto;
  }
  .container--jugadores .galeria-jugadores {
    width: 90%;
    height: auto;
    padding-bottom: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .container--jugadores .galeria-jugadores .articulo1 {
    width: 25%;
    height: auto;
  }
  .container--jugadores .galeria-jugadores .articulo1 img {
    width: 100%;
    height: auto;
  }
}

/* FIN DE LA SECCION : JUGADORES.HTML/JUGADORES/CSGO.HTML */
/*# sourceMappingURL=estilos2.css.map */